body {
  display: flex;
  flex-direction: column;
  font-family: prompt, sans-serif;
}

.global {
  display: flex;
  justify-content: center;
  min-height: 30vh;
}

.global>section,
.global>header,
.glabal>footer {
  flex: 0 1 var(--largeur-max);
  border: 1px solid black;
  background-color: var(--couleur-niveau-transparent);
  padding: 5rem 1rem;
}

#entete {
  background-color: var(--couleur-arriere-entete);
  color: var(--couleur-entete);
}

#accueil {
  background-color: var(--couleur-arriere-accueil);
  color: var(--couleur-accueil);
}

#galerie {
  background-color: var(--couleur-arriere-galerie);
  color: var(--couleur-galerie);
}

#evenement {
  background-color: var(--couleur-arriere-event);
  color: var(--couleur-event);
}

#footer {
  background-color: var(--couleur-arriere-footer);
  color: var(--couleur-footer);
}