body {
  display: flex;
  flex-direction: column;
  font-family: prompt, sans-serif;
}

.global {
  display: flex;
  justify-content: center;
  /*   min-height: 30vh; */
}

.global>section,
.glabal>footer {
  flex: 0 1 1100px;
  /*   border: 1px solid black; Pour labo 1 */
  /* background-color: var(--couleur-niveau-transparent); Pour Labo 1 */
  padding: 5rem 1rem;
}

.entete__header,
.entete__button {
  flex: 0 1 1500px;
  padding: 3rem 0 0 0;
  position: relative;
}

.global>header {
  padding: 2rem 1rem;
}

.global>header {
  flex: 1;
}

#entete {
  background-color: var(--couleur-arriere-entete);
  color: var(--couleur-entete);
  position: relative;

}

#accueil {
  background-color: var(--couleur-arriere-accueil);
  color: var(--couleur-accueil);
}

#galerie {
  background-color: var(--couleur-arriere-galerie);
  color: var(--couleur-galerie);
  z-index: 1;
  background: linear-gradient(180deg, var(--couleur-arriere-accueil), var(--couleur-arriere-event));
}

#evenement {
  background-color: var(--couleur-arriere-event);
  color: var(--couleur-event);
  position: relative;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: var(--couleur-arriere-galerie);
  border-radius: 5px;
  font-size: 30px;
}

blockquote p::before {
  content: "“";
}

blockquote p::after {
  content: "”";
}

blockquote h3 {
  padding: 15px;
  background: var(--couleur-arriere-event);
  border-radius: 5px;
  font-size: 30px;
}

blockquote h3::before {
  content: "“";
}

blockquote h3::after {
  content: "”";
}

cite {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: right;
  margin-top: 10px;
  color: black;
}

#footer {
  background-color: var(--couleur-arriere-footer);
  color: var(--couleur-footer);
}

@media (max-width: 500px) {
  .entete__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.entete__button {
  margin-top: 20px;
  margin-left: 20px;
}

h1,
h2,
h3 {
  margin: 10px 0;
}

.evenement__section blockquote {
  padding: 15px;
  background: var(--couleur-arriere-accueil);
  border-radius: 5px;
  font-size: 30px;
}

.evenement__section blockquote p {
  overscroll-behavior-block: var(--couleur-arriere-accueil);
}

/* .button-1{
  background-color: var(--couleur-arriere-accueil);
  color: var(--couleur-entete);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.button-2{
  background-color: var(--couleur-arriere-footer);
  color: var(--couleur-entete);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.button-3{
  background-color: var(--couleur-arriere-galerie);
  color: var(--couleur-entete);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.button-2:active, .button-3:active, .button-1:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}  POUR LAB 2 */

body {
  margin: 0;
  padding: 0;
}