:root {
  /*   --couleur-arriere-entete: #ff0000;
  --couleur-arriere-accueil: #09ff00;
  --couleur-arriere-event: #dd1;
  --couleur-arriere-footer: #ff00e6;
  --couleur-niveau-transparent: rgba(0, 0, 0, .3);
  --largeur-max: 900px; */

  --nb-elements: 5;
  --increment-angle: calc(360deg / var(--nb-elements));
  // 360 / 5 = 72
  --angle-initial: 180deg;
  --hu1: var(--angle-initial);
  // 180 + 72 = 252
  --hu2: calc(var(--hu1) + var(--increment-angle));
  --hu3: calc(var(--hu2) + var(--increment-angle));
  --hu4: calc(var(--hu3) + var(--increment-angle));
  --hu5: calc(var(--hu4) + var(--increment-angle));

  --s-couleur-arriere: 100%; // saturation
  --l-couleur-arriere: 50%; // luminosité
  --s-couleur: 100%; // saturation
  --l-couleur: 15%; // luminosité


/* 
  --couleur-arriere-entete: hsl(var(--hu1), var(--s-couleur-arriere), var(--l-couleur-arriere));
  --couleur-arriere-accueil: hsl(var(--hu2), var(--s-couleur-arriere), var(--l-couleur-arriere));
  --couleur-arriere-event: hsl(var(--hu3), var(--s-couleur-arriere), var(--l-couleur-arriere));
  --couleur-arriere-galerie: hsl(var(--hu4), var(--s-couleur-arriere), var(--l-couleur-arriere));
  --couleur-arriere-footer: hsl(var(--hu5), var(--s-couleur-arriere), var(--l-couleur-arriere));
  --couleur-niveau-transparent: rgba(0, 0, 0, .3); 
  --largeur-max: 900px;

  --couleur-entete: hsl(var(--hu1), var(--s-couleur), var(--l-couleur));
  --couleur-accueil: hsl(var(--hu2), var(--s-couleur), var(--l-couleur));
  --couleur-event: hsl(var(--hu3), var(--s-couleur), var(--l-couleur));
  --couleur-galerie: hsl(var(--hu4), var(--s-couleur), var(--l-couleur));
  --couleur-footer: hsl(var(--hu5), var(--s-couleur), var(--l-couleur)); */

  --couleur-arriere-entete: hsl(var(--hu1), 100%, var(--l-couleur-arriere));
  --couleur-arriere-accueil: hsl(var(--hu2),80%, var(--l-couleur-arriere));
  --couleur-arriere-event: hsl(var(--hu2), 60%, var(--l-couleur-arriere));
  --couleur-arriere-galerie: hsl(var(--hu1), 50%, var(--l-couleur-arriere));
  --couleur-arriere-footer: hsl(var(--hu1), 30%, var(--l-couleur-arriere));
  --couleur-niveau-transparent: rgba(0, 0, 0, .3); 
  --largeur-max: 900px;

  --couleur-lien: hsl(0, 0%, 0%);
  --couleur-lien-hover: hsl(200, 70%, 70%);
  --couleur-lien-visited: hsl(200, 70%, 75%);
}