:root {
  /*   --couleur-arriere-entete: #ff0000;
  --couleur-arriere-accueil: #09ff00;
  --couleur-arriere-event: #dd1;
  --couleur-arriere-footer: #ff00e6;
  --couleur-niveau-transparent: rgba(0, 0, 0, .3);
  --largeur-max: 900px; */

  --nb-elements: 5;
  --increment-angle: calc(360deg / var(--nb-elements));
  // 360 / 5 = 72
  --angle-initial: 180deg;
  --hu1: var(--angle-initial);
  // 180 + 72 = 252
  --hu2: calc(var(--hu1) + var(--increment-angle));
  --hu3: calc(var(--hu2) + var(--increment-angle));
  --hu4: calc(var(--hu3) + var(--increment-angle));
  --hu5: calc(var(--hu4) + var(--increment-angle));



  --couleur-arriere-entete: hsl(var(--hu1), 100%, 50%);
  --couleur-arriere-accueil: hsl(var(--hu2), 100%, 50%);
  --couleur-arriere-event: hsl(var(--hu3), 100%, 50%);
  --couleur-arriere-galerie: hsl(var(--hu4), 100%, 50%);
  --couleur-arriere-footer: hsl(var(--hu5), 100%, 50%);
  --couleur-niveau-transparent: rgba(0, 0, 0, .3);
  --largeur-max: 900px;

  --couleur-entete: hsl(0, 100%, 90%);
  --couleur-accueil: hsl(60, 100%, 15%);
  --couleur-event: hsl(120, 100%, 15%);
  --couleur-galerie: hsl(180, 100%, 15%);
  --couleur-footer: hsl(240, 100%, 15%);
}