/*
<div id="menu" class="global">
  <div class="entete__menu">
    <div class="menu-jeux-container">
      <ul id="menu-jeux" class="menu">
        <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost:8080/4w4-emily/2020/10/07/582-1j1-animation-et-interactivite-en-jeu-75h/">Animation et interactivité</a></li>
        <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34"><a href="http://localhost:8080/4w4-emily/2020/10/07/582-2j2creation-de-jeu-2d-60h/">Jeu 2D</a></li>
        <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-35"><a href="http://localhost:8080/4w4-emily/2020/10/07/582-3j3-creation-de-jeu-3d-75h/">Jeu 3D</a></li>
        <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-36"><a href="http://localhost:8080/4w4-emily/2020/10/07/582-3m5imagerie-3d-75h/">Imagerie 3D</a></li>
        <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-37"><a href="http://localhost:8080/4w4-emily/2020/10/07/360-4j4-creation-de-jeu-en-equipe-105h/">Création en équipe</a></li>
      </ul>
    </div>    
  </div>
</div>
*/
 
.menu-entete-container { //div
  border: 1px solid #aaa;
}
 
.menu{ //ul
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
 
.menu-item{ //li
 
}