/* <nav class="menu-principal-container"><ul id="menu-principal" class="menu"><li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost/4w4-mathieu/index.php/2020/10/07/582-6n3-stage-285h/">Stage</a></li>
<li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34"><a href="http://localhost/4w4-mathieu/index.php/2020/10/07/582-5mbtechnologies-emergentes-et-avancees-volet-creation-60h/">Technologies émergentes</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-35"><a href="http://localhost/4w4-mathieu/index.php/2020/10/07/582-5w5-projet-web-en-equipe-105h/">Projet Web</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-36"><a href="http://localhost/4w4-mathieu/index.php/2020/10/07/350-5n1-communication-et-dynamique-dune-equipe-de-travail-45h/">Communication et dynamique</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-37"><a href="http://localhost/4w4-mathieu/index.php/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">Méthodes de recherche</a></li>
<li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a href="http://Accueil">Accueil</a></li>
<li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="http://Galerie">Galerie</a></li>
<li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a href="http://Événement">Événement</a></li>
</ul></nav> */

.menu-principal-container {
  //nav
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: transparent;
  transform: translateX(-190%);
  transition: transform 0.3s ease-in-out;
  width: 100%;

  /*   min-height: 100vh; */
  @media screen and (min-width: 768px) {
    position: static;
    transform: translateX(0);
  }
}

#menu-principal {
  //ul
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  border-radius: 3px;
  margin-top: 55px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .entete__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
}

#menu {}

.menu-item {
  //li
}

.menu-item a {
  //a
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;


  @media screen and (min-width: 768px) {
    font-size: 1.2rem;
  }
}

.menu-item a:hover {
  color: #007bff;
}

#chk_burger {
  display: none;
}

#burger {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

#chk_burger:checked~.menu-principal-container {
  transform: translateX(0%);
}