// Définition des variables de couleurs pour la palette de couleurs

$--clr-bleu-pale : hsl(220, 100%, 85%);
$--clr-bleu-leger : hsl(220, 100%, 60%);
$--clr-bleu-moyen : hsl(220, 100%, 30%);
$--clr-bleu-fonce : hsl(220, 100%, 15%);

$--clr-orange-pale: hsl(40, 100%, 85%);
$--clr-orange-leger : hsl(40, 100%, 50%);
$--clr-orange-moyen : hsl(40, 100%, 30%);
$--clr-orange-fonce : hsl(40, 100%, 15%);

$--clr-rouge-pale: hsl(10, 100%, 85%);
$--clr-rouge-leger : hsl(10, 100%, 50%);
$--clr-rouge-moyen : hsl(10, 100%, 30%);
$--clr-rouge-fonce : hsl(10, 100%, 15%);

$--clr-vert-pale: hsl(70, 100%, 85%);
$--clr-vert-leger : hsl(70, 100%, 50%);
$--clr-vert-moyen : hsl(70, 100%, 30%);
$--clr-vert-fonce : hsl(70, 100%, 15%);

// Création du mapping des couleurs des couleurs
$defaut: (
  primaire : (100: $--clr-bleu-pale,
    200: $--clr-bleu-leger,
    300: $--clr-bleu-moyen,
    400: $--clr-bleu-fonce ),
  secondaire : (100: $--clr-orange-pale,
    200: $--clr-orange-leger,
    300: $--clr-orange-moyen,
    400: $--clr-orange-fonce ),
  ternaire : (100: $--clr-rouge-pale,
    200: $--clr-rouge-leger,
    300: $--clr-rouge-moyen,
    400: $--clr-rouge-fonce ),
  vert : (100: $--clr-vert-pale,
    200: $--clr-vert-leger,
    300: $--clr-vert-moyen,
    400: $--clr-vert-fonce )
);

$agencement-couleur :(primaire: ($--clr-bleu-pale, ($--clr-bleu-fonce, $--clr-bleu-leger)),
  secondaire: ($--clr-orange-fonce, $--clr-orange-pale),
  ternaire: ($--clr-rouge-fonce, $--clr-rouge-pale),
  vert: ($--clr-vert-fonce, $--clr-vert-pale));


:root {

  --nb-elements: 5;
  --increment-angle: calc(360deg / var(--nb-elements));
  // 360 / 5 = 72
  --angle-initial: 180deg;
  --hu1: var(--angle-initial);
  // 180 + 72 = 252
  --hu2: calc(var(--hu1) + var(--increment-angle));
  --hu3: calc(var(--hu2) + var(--increment-angle));
  --hu4: calc(var(--hu3) + var(--increment-angle));
  --hu5: calc(var(--hu4) + var(--increment-angle));

  --s-couleur-arriere: 100%; // saturation
  --l-couleur-arriere: 50%; // luminosité
  --s-couleur: 100%; // saturation
  --l-couleur: 15%; // luminosité

  --couleur-arriere-entete: hsl(var(--hu1), 100%, var(--l-couleur-arriere));
  --couleur-arriere-accueil: hsl(var(--hu2), 80%, var(--l-couleur-arriere));
  --couleur-arriere-event: hsl(var(--hu2), 60%, var(--l-couleur-arriere));
  --couleur-arriere-galerie: hsl(var(--hu1), 50%, var(--l-couleur-arriere));
  --couleur-arriere-footer: hsl(var(--hu1), 30%, var(--l-couleur-arriere));
  --couleur-niveau-transparent: rgba(0, 0, 0, .3);
  --largeur-max: 900px;

  --couleur-lien: hsl(0, 0%, 0%);
  --couleur-lien-hover: hsl(200, 70%, 70%);
  --couleur-lien-visited: hsl(200, 70%, 75%);
}

#galerie {}

#entete {
  --_couleur-arriere-vague: var(--couleur-arriere-accueil);
}

#evenement {
  --_couleur-arriere-vague: var(--couleur-arriere-footer);
}