.vague {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.vague svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 140px;
  transform: rotateY(180deg);
}
@media (max-width: 480px) {
  .vague svg {
    height: 35px;
  }
}
.remplissage{
  fill: var(--_couleur-arriere-vague);
}
